/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs label {
  order: 1;
  display: block;
  padding: 0.3rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #e2e2e2;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #a4dcff;
}

.tabs .tabs-background-copied {
  background: #a4ffc9;
}

.tabs .tab p {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
}

.tabs .tab .text-copied {
  color: #0d9c57;
}

.tabs .tab .clipboard-btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s;
}

.tabs .tab .clipboard-btn:hover {
  transform: scale(0.95);
  transition: all 0.1s;
}

.tabs .tab .clipboard-btn-copied {
  background: #0d9c57;
  color: white;
}

.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #a4dcff;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
